*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
}
.heart{
    position: fixed;
    color: purple;
    font-size: 1.5rem;
    animation: fall 3s linear forwards;
}
@keyframes fall {
    to{
        transform: translateY(105vh);   
    }
}